.App{
  text-align: center;
}

.black-nav{
  background: #FFFFFF;
  width: 100%;
  display: center;
  padding: 20px;
  left: 0px;
  top:8px;
  width:1597px;
  height: 100px;
}

.taeseop {
  width: 30%;
  height: 145px; 
  overflow: hidden;
  float:left;
  margin:20px;
}

.img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduce{
  display:block;
}

.introduce::after{
  content:"";
  display:table;
  clear:both
}

.taeseop_t {
  width:60%;
  float:left;
  height: 145px; 
}

.taeseop_i{
  color: #789467;
  font-size: 15px;
  display:block;
  margin-bottom: 20px;
}

.taeseop_i::after{
  content:"";
  display:table;
  clear:both;
}

.img {
  width: 90.5%;
  height: 90.5%;
  object-fit: cover;
  display: block;
  padding :10px;
  margin:0px auto;
  border-radius: 20px;
}

.img_heart{
  width: 500px;
  height: 500px;
}

.question{
  left: 676px;
  top: 680px;
}

.result{
  margin-top: 30px;
  left: 676px;
  top: 380px;
  font-size: 20px;
  text-align: center;
}

.imgfile{
  float:left;
  width: 33%;
  height: 282px;
  border-radius: 20px;
  border: 1px solid #CFCFCF;
}


.imgfile::after{
  content:"";
  display:table;
  clear:both
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}